snippet cl "console.log" !b
console.log($1);
endsnippet

snippet db "debugger" !b
// eslint-disable-next-line no-debugger
debugger;
endsnippet

snippet bp "binding.pry" !b
// eslint-disable-next-line no-debugger
debugger;
endsnippet
